@model MVC_HW.Models.Customer

<h2>Customer Details</h2>
<p>
    <strong>Customer ID:</strong> @Model.CustomerID <br />
    <strong>Company Name:</strong> @Model.CompanyName <br />
    <strong>Contact Name:</strong> @Model.ContactName <br />
    <strong>City:</strong> @Model.City <br />
    <strong>Country:</strong> @Model.Country <br />
</p>